.InputContainer {
  background: var(--bg-color);
  color: var(--font-color);
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.MDInput {
  background: var(--bg-color);
  color: var(--font-color);
  border: solid 1px var(--font-color);
}

.SecondInputContainer {
  align-items: stretch;
}

.HtmlContainer {
  background: var(--bg-color);
  width: 314px;
  overflow: auto;
  flex: 1;
  font-size: 1rem;
  border: solid 1px var(--font-color);
}

.FirstContainerHTML {
  align-items: stretch;
}
.SecondInputContainer textarea {
  resize: none;
  width: 314px;
  border: solid 1px var(--font-color);
  flex: 1;
  font-size: 1rem;
}

.CounterAndLogo {
  height: 21em;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6%;
}

.CounterAndLogo img {
  width: 100%;
}

.linkclick,
.linkclick:visited {
  color: #007bff;
  text-decoration: underline;
  cursor: auto;
}

.linkclick:active,
.linkclick:visited:active,
.linkclick:hover {
  text-decoration: none;
  color: #007bff;
}

/* .linkclick:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} */
