.transformation {
  display: flex;
  align-items: baseline;
}

.titleH1 {
  font-size: 2em;
  margin: 0px 0px 5px 30px;
}

.titleH2 {
  font-size: 1.8em;
  margin: 0px 0px 5px 30px;
}

.titleH3 {
  font-size: 1.6em;
  margin: 0px 0px 5px 30px;
}

.titleH4 {
  font-size: 1.4em;
  margin: 0px 0px 5px 30px;
}